.barra-lateral {
  position: fixed;
  background-color: rgb(61, 58, 58);
  width: 100%;
  z-index: 100;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  top: 0;
}

.menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
}

.menu-horizontal li a {
  text-decoration: none;
  padding: 15px 20px;
  color: #000000;
  font-family: sans-serif;
}

.menu-horizontal li a:hover {
  color: rgb(0, 162, 255);
}

.login {
  color: rgb(0, 162, 255);
  border-radius: 10px;
  background-color: rgb(18, 72, 119);
  
}

.registro {
  color: rgb(0, 162, 255);
  border-radius: 10px;
  background-color: aliceblue;
}



