.nosotros {
  padding: 60px 20px;
  background-color: aqua;
  width: 100%;
}

.divicion-general {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  gap: 40px;
  width: 100%;
}

.divicion-texto {
  width: 50%;
}

.divicion-imagen {
  width: 50%;
}

.divicion-texto h1 {
  color: yellowgreen;
}

.divicion-texto p {
  color: aquamarine;
  line-height: 1.5;
}

.seccion-nuestros-servicios {
  padding: 60px 20px;
  background-color: rgba(117, 209, 31, 0.74);
  width: 100%;
}


